
<div class="main-content">
  <main>
    <div class="retour-container">
      <a href="#" class="retour">← Retour</a>
    </div>

    <div class="title-container">
    <h2>Modifier l'utilisateur - 45678</h2>
    </div>

    <div class="form-container">
      <form id="editUserForm">
        <div class="form-row">
          <div class="input-group">
            <input type="text" id="pseudo" placeholder="Pseudo" required>
          </div>
        </div>

        <div class="form-row">
          <div class="input-group">
            <input type="password" id="ancienMotDePasse" placeholder="Ancien mot de passe" required>
          </div>
        </div>

        <div class="form-row">
          <div class="input-group">
            <input type="password" id="nouveauMotDePasse" placeholder="Nouveau mot de passe" required>
          </div>
        </div>

        <div class="form-row">
          <div class="input-group">
            <input type="password" id="confirmerNouveauMotDePasse" placeholder="Confirmer nouveau mot de passe" required>
          </div>
        </div>

        <div class="form-row buttons">
          <button type="button" class="btn-cancel">Annuler</button>
          <button type="submit" class="btn-save">Enregistrer</button>
        </div>
      </form>
    </div>
  </main>
</div>
