
<div class="main-content">
  <main>
    <header>
      <h1>Utilisateur (2)</h1>
      <a routerLink="/sidebar/add-user"> <button class="add-user"><img src="/assets/icons/plus.png" style="width: 10px;height: 10px" alt=""> Nouvel utilisateur</button></a>
    </header>
    <section class="table-section">
      <table>
        <thead>
        <tr>
          <th>Pseudo</th>
          <th>Date de creation</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>admin</td>
          <td>16/03/2024</td>
          <td>
            <a routerLink="/sidebar/edit-user"> <button class="edit-btn">Modifier</button></a>
          </td>
        </tr>
        <tr>
          <td>user2</td>
          <td>13/03/2024</td>
          <td>
            <a routerLink="/sidebar/edit-user"> <button class="edit-btn">Modifier</button></a>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>

</div>
